{% load static %}
<!DOCTYPE html>
<html>
    <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Login-</title>

    <!-- Additional Style Modifications -->
   <style>
        .content {
            background-color: black;
            opacity: 0.75;
            color:white;
        }
        .btn {
            font-size: 16px;
            width: 50%;
        }
   </style>
</head>
<body>
	
	<video playsinline autoplay muted loop poster id="bgvid">
            <source src="{% static 'media/airsoft_login_sound.mp4'%}" type="video/mp4">Your browser doesn't support this epic video
	</video>
	
	<div class="content">
            <h1><span style="color: #96c9a3;">Login</span></h1>
            <br>
            <form method="post">
   	            {% csrf_token %}
                    {{ form.as_p }}
                <input name="next" type="hidden" value="{{ next }}"/>
                
                <!-- Login and Register Buttons -->
                <button type="submit" class="btn btn-success">Login</button>
                <hr style="border-color:white;">
                <p style="text-align: center;">Don't have an account? <a href="/register/">
                    <span style="color: #96c9a3;">Register</span></a></p>
            </form>
    </div>
</body>
</html>
